/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

/* Style for the navigation bar */
nav {
    background-color: #d81616;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Style for the navigation links */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

nav a:hover {
    background-color: #555;
}