/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

/* Style for the navigation bar */
nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically at the center */
    position: fixed; /* Fix the navigation bar position */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left edge */
    width: 100%; /* Make it occupy the full width of the screen */
}

nav span {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px; /* Add some space between "ConnectYT" and the edge of the nav */
}
/* Style for the navigation links */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

nav p {
    color: #fff;
    font-size: 16px;
    margin-left: 10px; /* Add some space between "Math2braille" and the edge of the nav */
}

nav a:hover {
    background-color: #555;
}